*{
margin: 0;
padding: 0;
border: none;
}

body{
    height: 100vh;
}
p{
    color: white;
    font-size: 65px; 
    font-family:'Comic Sans MS', 'Comic Sans', 'cursive'
}
header,
main,
footer {
   display: flex;
}
header {
   background-color: rgb(238, 130, 238);
   height: 30vh;
   justify-content: flex-start;
   align-items: center;
}
main {
   background-color: rgb(240,230,140);
   height: 40vh;
   justify-content: center;
   align-items: center;
}
footer {
   background-color: rgb(148,0,211);
   height: 30vh;
   justify-content: flex-end;
   align-items: center;
}